.root {
  &:global(.MuiButton-root) {
    width: 160px;
    z-index: 1;
    background: #00afa3;
    border: 4px solid #2dd5c4;
    border-radius: 4px;
    color: white;
    position: relative;
  }

  &.selected {
    background: #2b2b2c;
    border: 4px solid #eccd51;
  }

  &.locked {
    background: #808080;
    border: 4px solid #5a5a5a;
  }
}

.locker {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #1a1a1d;
  right: -8px;
  top: -8px;
  border: 2px solid #2dd5c4;
  background: #00afa3;
  border-radius: 4px;
}
