$PRIMARY: #2dd5c4;
$RED: #ec5151;
$ORANGE: #ec8851;
$YELLOW: #eccd51;
$LIME: #c3ec51;
$GREEN: #63ec51;
$AQUA: #51ecb3;
$LIGHT_BLUE: #51ece2;
$DARK_BLUE: #5168ec;
$PURPLE: #9451ec;
$VENOM: #1f0036;
$PINK: #e96ad0;
$WHITE: #f4f5f7;
$GREY: #676767;
$LIGHT_GREY: #989898;
$GOLD: #ffffcc;
$PORTAL_ORANGE: #ff934d;
$PORTAL_BLUE: #4db9ff;
$BLACK: black;
